body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.etch-grid {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 980px;
    height: 980px;
}

.etch-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.etch-square {
    /* display: flex; */
    border: 1px solid red;
    display: flex;
    flex: 1;
}