body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    /* width: 100vw; */
}

.etch-grid {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-width: 980px;
    min-height: 980px;
}

#size-selection {
    border: 2px solid blue;
    border-radius: 8px;;
    background: white;
    font-size:  24px;
    padding: 4px;
    margin: 12px;
}

.etch-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.etch-square {
    display: flex;
    border: 1px solid red;
    display: flex;
    flex: 1;
}